version: "3.9"

services:
  backend:
    build: ./backend
    container_name: cms-backend
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: cms-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
